body {
    background-image: url("assets/fundo.png");
    background-color: #d2d2c1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal {
    width: 900px;
    
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}

#conteudo {
    background-color: #e8e8d9;
    padding: 10px;
}

#rodape {
    text-align: center;
}

a {
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}

.img-campanha {
    border: 10px solid #c3c3ae;    
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

